* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.app--container {
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, .15);
}

.nav {
  max-width: 700px;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #DB005B;
  color: #fff;
}

.nav--img {
  height: 22px;
  margin-right: .6rem;
  display: inline;
  color: #fff;
}


/* Travel */
.travel--list__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.travel--container {
  max-width: 600px;
  background: #F9F5F6;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, .15);
  margin-bottom: 1.2rem;
  border-radius: 7px;
  display: flex;
}

.travel--img {
  width: 200px;
  border-radius: 7px;
  height: 100%;
}

.location--img {
  height: 18px;
  display: inline-block;
  margin-right: .4rem;
}

.location--name {
  margin-right: 1rem;
}

.location--map__link {
  color: #9DB2BF;
}

.travel--details {
  padding: 1rem;
}

.travel--details__specs {
  display: flex;
  align-items: center;
  justify-content: center;
}